*{
  padding: 0px;
  margin: 0px;
}

input:focus{
outline: none;
}

.app{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  >.app_home_pages{
    display: flex;
    flex-direction: column;
    >.app_home_pages_cart_popup{
      display: flex;
      position: fixed;
      justify-content: right;
      right: 0px;
      top: 1px;
      width: 100%;
      background: rgba(1, 16, 11, 0.40);
      
    }
  }
}

@media screen and (max-width: 512px) {
  .app{
    >.app_home_pages{
      >.app_home_pages_cart_popup{
        padding-top: 48px;
       
      }
    }
  }
  
}