.singlecomp_list_box_Link{
  text-decoration: none;
}
.singlecomp_list_box {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 16px;
  cursor: pointer;

  .singlecomp_list_box_logo {
    display: flex;
    height: 240px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    background: var(--neutral-50, #f4f4f4);
    padding: 4%;

    .singlecomp_list_box_logo_img {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2%;
      align-self: stretch;
     
      > img {
        max-height: 100%;
        max-width: 100%;
        border-radius: 5%;
      }
    }
  }
  .singlecomp_list_box_content {
    .singlecomp_list_box_content_header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
      align-self: stretch;

      > h4 {
        color: var(--neutral-200, #9d9ea2);
        text-align: center;
        font-size: 14px;
        font-family: Lexend;
        font-weight: 300;
        line-height: 150%;
      }

      > h3 {
        color: var(--neutral-500, #1a1e26);
        text-align: center;

        /* Regular/Text-base */
        font-size: 18px;
        font-family: Lexend;
        line-height: 150%;
      }

      .singlecomp_list_box_content_header_review {
        display: flex;
        gap: 2px;
        flex-direction: row;
        align-items: center;
        >span{
          
          width: 2px;
          background-color: var(--neutral-200, #9d9ea2);
        }

        > label {
          color: var(--neutral-900, #060709);

          /* Regular/Text-XS */
          font-size: 14px;
          font-family: Lexend;
          line-height: 150%;

          > a {
            color: var(--neutral-100, #c8c9cb);

            /* Regular/Text-XS */
            font-size: 14px;
            font-family: Lexend;
            line-height: 150%;
          }
        }
      }
    }

    .singlecomp_list_box_content_info {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2%;
      align-self: stretch;

      .singlecomp_list_box_content_info_price {
        display: flex;
        flex-direction: row;
        gap: 10px;
        .singlecomp_list_box_content_info_price1_label {
          color: var(--other-red, #eb2606);

          /* Regular/Text-SM */
          font-size: 18px;
          font-family: Lexend;
          line-height: 150%;
        }
        .singlecomp_list_box_content_info_price2_label {
          color: var(--neutral-200, #9d9ea2);
          font-size: 16px;
          font-family: Lexend;
          line-height: 150%;
          text-decoration-line: line-through;
         
        }
      }
      /* .singlecomp_list_box_content_info_options {
        display: flex;
        height: 32px;
        padding: 4px 10px 5px 10px;
        justify-content: center;
        align-items: center;
        gap: 12px;

        > button {
          display: flex;
          height: 32px;
          padding: 4px 10px 5px 10px;
          justify-content: center;
          align-items: center;
          gap: 12px;
          border-radius: 4px;
          border: 1px solid var(--neutral-50, #f4f4f4);
          background: var(--neutral-0, #fff);
        }
      } */

      /* .singlecomp_list_box_content_info_addcart {
        .singlecomp_list_box_content_info_addcart_btn {
          color: var(--neutral-0, #fff);

          border: none;
          font-size: 14px;
          font-family: Lexend;
          font-weight: 500;
          line-height: 150%;
          background: var(--primary-500, #17af26);
          padding: 0px 24px;
          border-radius: 100px;

          display: flex;
          height: 40px;
          padding: 0px 24px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          align-self: stretch;
        }
      } */
    }
  }
}

@media screen and (max-width: 512px) {
  .singlecomp_list_box {

    > .singlecomp_list_box_logo {
      display: flex;
      height: 160px;
      
      justify-content: center;
      align-items: center;
      gap: 8px;
      align-self: stretch;
      > .singlecomp_list_box_logo_img {
        > img {
          width: 100px;
        }
      }
    }
  }
}

@media screen and (min-width: 512px) {
  .singlecomp_list_box {
    >.singlecomp_list_box_content{
      >.singlecomp_list_box_content_info{
        >.singlecomp_list_box_content_info_options{
          >button{
            padding: 4px 10px 5px 10px;
           
          }
        }
      }
    }
  }
}